*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
[hidden] {
  display: none;
}
section, main, footer, header, article {
  display: block;
}
html,
body {
  width: 100%;
  margin: 0;
}