:root {
  --bg-color: #f0f0f0;
  --text-color: #1c1917;
	--global-font-family: "Mulish", sans-serif;
}

/* Для всех элементов с прокруткой */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #374aab;
  border-radius: 50px;
}

/* Для Firefox (поддержка всех браузеров) */
* {
  scrollbar-width: thin;
  scrollbar-color: #374aab transparent;
}

body {
	color: var(--text-color);
	background-color: var(--bg-color);
	overflow-x: hidden;
	font-family: var(--global-font-family);
  font-optical-sizing: auto;
  font-style: normal;
	font-size: 16px;
}

.container {
	max-width: 1244px;
	width: 100%;
	margin: 0 auto;
	@apply px-4 md:px-8 lg:px-[56px] xl:px-6;
}

h1 {
	@apply text-[28px] md:text-[34px] lg:text-[40px] font-extrabold leading-8 md:leading-10 lg:leading-[45px];
}

h2 {
	@apply text-[26px] md:text-[30px] lg:text-4xl font-medium;
}

h3 {
	@apply text-[18px] md:text-[22px] lg:text-2xl font-medium;
}
